{% extends "base.html.twig" %}

{% block body %}

  <div class="cover-image">
     <div class="resto-title">
        <h1>L'adress</h1> <br>
        <span>(bar, brasserie et café)</span>
     </div>
  </div>


<div class="container"></div>

{% endblock %}