{% extends "base.html.twig" %}

{% block title %}Mention legale{% endblock %}

{% block body %}

<div class="container">
  <div class="card my-5">
   <div class="card-body shadow p-3 bg-white">
    
     <h1>Mentions Légales</h1>
 
<p>Le directeur de la publication est :  Mr LEMATHIS Richard en qualité de dirigeant.</p>

 
<strong>Conformément à la loi Informatique et libertés du 6 janvier 1978 modifiée en 2004<strong>, les données à caractère personnel sont destinées à l’exploitant du site et leur usage conforme aux finalités déclarées à la Cnil.
 
<p>-Les données sont destinées à la société Lamidis responsable du traitement.
Les informations indispensables sont signalées par un astérisque dans le formulaire.A défaut il ne pourra être répondu à la demande de l’utilisateur.
Les autres informations demandées, pour lesquelles la réponse de l’utilisateur est facultative, sont destinées à mieux connaitre l’utilisateur et à améliorer les services proposés.  
Conformément aux dispositions de la « loi Informatique et libertés » du 6 janvier 1978 modifiée en 2004, l’utilisateur dispose d’un droit d’accès, de rectification et de suppression des données à caractère personnel le concernant. La mise en œuvre de ces droits est possible par simple courriel envoyé à l’adresse figurant ci-dessus.
<p>
 
<p>L’utilisateur dispose également d’un droit d’opposition au traitement de ses données pour des motifs légitimes ainsi qu’un droit d’opposition à ce que ces données soient utilisées à des fins de prospection commerciale.<p>
 
<p>L’utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de la refuser de la manière décrite à l’adresse suivante http://www.elliweb.fr/</p>
 
 
<p>La structure générale et l’architecture du site, ainsi que chacun de ses éléments, notamment les logiciels, textes, images animées ou non, sont protégés par le droit d’auteur. A ce titre, toute utilisation et notamment toute reproduction totale ou partielle du site ou de ses éléments, ainsi que tout transfert de ses éléments vers un autre site sans l’accord écrit et exprès des ayants droit est interdite et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle.</p>
 
<p>Les marques (semi-figuratives ou non), ainsi que les logos figurant sur le site sont protégés <br>
Toute reproduction totale ou partielle de ces marques ou de ces logos effectuée à partir des éléments du site sans l'autorisation des ayants droit est donc prohibée.</p>
 
<p>L’utilisateur ne peut mettre en place un hyperlien en direction du site sans autorisation expresse et préalable.</p>

    
   </div>
  </div>
</div>

{% endblock %}